[%- USE Koha -%] [%- SET delimiter = Koha.CSVDelimiter() -%] [%- BLOCK -%]NGÀY ĐẶT HÀNG[%- delimiter | html -%]NGÀY DỰ KIÊN CHUYỂN TỚI[%- delimiter | html -%]NHÀ CUNG CẤP[%- delimiter | html -%]THÔNG TIN[%- delimiter | html -%]TỔNG GIÁ[%- delimiter | html -%]GIỎ[%- delimiter | html -%]SỐ KHIẾU NẠI[%- delimiter | html -%]NGÀY KHIẾU NẠI[%- delimiter | html -%]GHI CHÚ NỘI BỘ[%- delimiter | html -%]GHI CHÚ NHÀ CUNG CẤP[%- delimiter | html -%]ISBN[%- END -%] 