[%# First line will be summary, second line will be description. Avoid indenting. Var newline added to avoid translating problems. -%] [%- newline="\n" | html -%] [%- IF overdue == 1 -%] [% title | html %] bị quá hạn mượn [%- newline | html -%]Tài liệu bạn mượn [% title | html %] (barcode [% barcode | html %]) bị quá hạn mượn [%- ELSE -%] [% title | html %] đến hạn [%- newline | html -%]Tài liệu bạn mượn [% title | html %] (barcode [% barcode | html %]) đã đến hạn trả lại thư viện hôm nay [%- END -%] 