<form><table><caption>Sát nhập</caption>
[% FOREACH field IN fields %]
<tr>
<td>[% field.from | html %]</td>
<td>[% field.tag | html %] <input type="checkbox" name="selected_field" value="[% field.id | html %]">
</td>
<td><dl>
[% FOREACH subfield IN field.subfields %]
 <dt>[% subfield.key | html %]</dt>
 <dd>[% subfield.value | html %]</dd>
[% END %]
</dl>
</td>
</tr>
[% END %]
</table>
<input class="btn btn-primary" type="submit" value="Chọn" />
</form>
